.TeamPage > div {
	padding-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(63, 63, 63);
	height: calc(100vh - 25px);
	width: calc(100vw - (100vw - 100));
}

.Roster {
	display: flex;
	width: 40%;
	height: 50vh;
	align-items: center;
	justify-content: center;
	background-color: rgb(218, 218, 218);
	border: 1px solid black;
	border-radius: 15px;
	color: rgb(85, 4, 4);
}

.Roster div {
	margin: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	font-size: 1.35vw;
	font-weight: bold;
}

.TeamStats canvas {
	max-height: 40vh;
	max-width: 70vw;
	height: 40vh;
	width: 70vw;
	min-height: 40vh;
}

.TeamPage #rdList:first-child {
	min-width: 40%;
	min-height: 40vh;
	height: 50vh;
	font-size: 1.3vw;
}

.TeamPage div.PlayersBox {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
	border-radius: 15px;
	overflow-y: scroll;
	/* overflow: -moz-scrollbars-none; */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.TeamPage div.PlayersBox::-webkit-scrollbar {
	display: none;
}

.TeamStats {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	background-color: rgb(218, 218, 218);
	width: 70vw;
	border: 1px solid black;
	border-radius: 15px;
}

#teamList {
	color: white;
	position: fixed;
	left: 50%;
	top: 25px;
	transform: translateX(-50%);
	font-size: 2.5vh;
	width: 10vw;
	height: 15vh;
}

#teamList select {
	margin-top: 10px;
	width: 100%;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 18px;
	border: none;
	outline: none;
}

@media (max-width: 1300px) {
	.TeamPage #rdList:first-child,
	.Roster div {
		font-size: 1em;
	}
}

@media (max-width: 1025px) {
	.TeamStats {
		display: none;
	}

	.Roster {
		position: fixed;
		top: calc(10vh + 25px);
		left: 50%;
		transform: translateX(-50%);
		height: 30vh;
		width: 90vw;
		font-size: 1.75vh;
		max-height: 40vh;
		min-height: 30vh;
	}

	.TeamPage #rdList {
		position: fixed;
		top: calc(40vh + 50px);
		left: 50%;
		transform: translateX(-50%);
		height: 30vh;
		max-height: 30vh;
		width: 90vw;
		font-size: 1.5vh;
	}

	.TeamPage #rdList th {
		font-size: 2.5vh;
	}

	#teamList {
		position: fixed;
		left: 50%;
		top: 15px;
		transform: translateX(-50%);
		font-size: 4vh;
		width: 90vw;
	}

	#teamList select {
		width: 50%;
		text-transform: capitalize;
		font-weight: bold;
		font-size: 18px;
		border: none;
		outline: none;
	}
}
