.Manager {
	height: 100vh;
	width: calc(100vw - (100 - 100vw));
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gray;
}

.PlayerContainer {
	/* height: 100vh;
	width: calc(100vw - (100 - 100vw)); */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#inputBox,
.onDeck {
	height: 70px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 10px);
	margin-top: 50px;
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
}

#inputBox table {
	width: 100%;
	font-size: 22px;
}

#submitBtn {
	height: 40px;
	width: 60px;
	border-radius: 10px;
	outline: none;
	margin-right: 10px;
}

.pickInput {
	width: 30px;
	text-align: center;
	border: 1px solid black;
	outline: none;
	border-radius: 10px;
}

.PlayersTable {
	border-collapse: collapse;
	width: 100%;
}

.PlayersBox {
	height: 500px;
	max-height: 500px;
	width: 500px;
	border: 1px solid black;
	border-radius: 10px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	background-color: white;
}
.PlayersBox::-webkit-scrollbar {
	display: none;
}

.PlayersTable thead th {
	position: sticky;
	top: 0px;
	background-color: black;
	color: white;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
	font-size: 20px;
	padding: 2px 0;
	font-weight: bold;
}

.PlayersTable > tr {
	margin: 2px 0px;
}

.playerBox:nth-child(2n + 2) {
	background-color: white;
}

.playerBox:nth-child(2n + 1) {
	background-color: rgba(83, 0, 0, 0.486);
}

.playerBox {
	height: 25px;
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.playerBox td {
	vertical-align: middle;
}

#linkBoard {
	position: fixed;
	top: 100px;
	left: 100px;
	font-size: 28px;
	font-weight: bold;
	display: flex;
}

#teamView {
	position: fixed;
	top: 150px;
	left: 100px;
	font-size: 28px;
	font-weight: bold;
}

#controllerContainer {
	justify-content: space-between;
	width: 60%;
	position: fixed;
	top: 55%;
	transform: translateY(-50%);
	display: flex;
}

#filterBox {
	position: absolute;
	top: -20px;
	right: 5px;
}

.onDeck {
	justify-content: space-evenly;

	font-weight: bold;
}
