.NewDraft {
	height: 100vh;
	width: calc(100vw - (100 - 100vw));
	background-color: rgb(63, 63, 63);
}

#NDInputBox {
	display: flex;
	position: fixed;
	top: 55vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

#startBtn {
	border-radius: 10px;
	border: 1px solid black;
	position: absolute;
	top: -25px;
	right: 10px;
}

.teamBox {
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 5vh;
	width: 30vw;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	background-color: rgb(218, 218, 218);
}

.teamMasterBox {
	display: flex;
	flex-direction: column;
}
.teamBox > p {
	font-size: 2.5vh;
}
.teamBox > input {
	margin-top: 0.5vh;
}

.keeperInput {
	width: 20px;
	text-align: center;
}
