.App {
	text-align: center;
	height: 100vh;
	width: calc(100vw - (100vw- 100%));
}

.Header,
.Header > div {
	display: flex;
	justify-content: space-between;
}

input[type='button']:active,
input[type='submit']:active {
	transform: translateY(2px);
	outline: none;
	border: none;
}
