.Settings {
	height: 100vh;
	width: calc(100vw - (100% - 100vw));
	background-color: grey;
}

#setBox {
	color: black;
	font-size: larger;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 15px;
	border: 0 none;
	box-shadow: 0 2px 5px 2px rgb(0, 0, 0);
	height: 250px;
	width: 45%;
	min-width: 400px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#editBtn {
	border-radius: 5px;
	position: absolute;
	top: 25px;
	right: 50px;
	width: 60px;
}

.SettingsDisplay,
.SettingsForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px 0 50px 50px;
	text-align: left;
	width: 50%;
	height: 80%;
}

.SettingsDisplay > p {
	margin-bottom: 10px;
}

.SettingsForm > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#updateBtn {
	border-radius: 5px;
	align-self: flex-end;
	bottom: 0px;
	right: 0px;
	width: 60px;
}

#deleteBtn {
	border-radius: 5px;
	position: absolute;
	top: 25px;
	background-color: rgb(83, 0, 0);
	color: white;
	width: 110px;
}

#deleteBtn:active,
#updateBtn:active,
#editBtn:active {
	transform: translateY(2px);
}

#confirmDelete {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	height: 70%;
	width: 100%;
	position: fixed;
	top: 20%;
	left: 0;
	/* transform: translate(-50%, -50%); */
}

#confirmBtn {
	border-radius: 5px;
	font-size: larger;
	margin-top: 20px;
	top: 25px;
	background-color: rgb(83, 0, 0);
	color: white;
	width: 110px;
}
